@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-3">Welcome</h1>
    <h2 class="mb-1">Тестовое задание на вакансию Junior Разработчик C# .Net</h2>
    <img src="2642974.png"/>
</div>
